#coding=utf8

db_asset = {
    "host": "dev.mofanglicai.com.cn",
    "port": 3306,
    "user": "root",
    "passwd": "Mofang123",
    "db":"asset_allocation",
    "charset": "utf8"
}

db_base = {
    "host": "127.0.0.1",
    "port": 3306,
    "user": "root",
    "passwd": "Mofang123",
    "db":"mofang",
    "charset": "utf8"
}

db_asset_uri = 'mysql://root:Mofang123@localhost/asset_allocation?charset=utf8&use_unicode=0'
db_base_uri =  'mysql://root:Mofang123@localhost/mofang?charset=utf8&use_unicode=0'
