*.pyc
tmp/
*.swp
*.swo
*.csv
data/
*.pyc
*.swp
*.swo
*.tar.gz
nohup.out
config.py
*.log
.DS_Store
logging.json
/feature_selection/output_params/svm_absolute_view/
/feature_selection/output_data/
/feature_selection/relative_version/
